body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin-top: 30px;
}

.table th, .table td {
    text-align: center;
}

.btn-success, .btn-danger {
    border-radius: 5px;
}

.total-display {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.2em;
    color: #000;
}


#mensagem {
    padding: 10px 20px;
    width: auto;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    font-size: 1.2em;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.alert-danger {
    background-color: #fce4e4;
    color: #f44336;
    border: 1px solid #f8d7da;
}

.alert-success {
    background-color: #d4edda;
    color: #28a745;
    border: 1px solid #c3e6cb;
}
